.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
}

/*-------------------------Модальное окно авторизации-------------------------------------*/
.modalLog {
    position: absolute;
    left: 55%;
    background-color: #fff;
    height: 250px;
    width: 400px;
    border-radius: 50px;
    top: 65px;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
}

.modalLog .titleLog {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.modalLog input {
    background-color: #f4f4f4;
    border: none;
    width: 300px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.modalLog input:focus {
    outline: none;
}

.formmodalLog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnLog {
    background-color: #f4f4f4;
    border: none;
    margin-top: 20px;
}

.modalLog button {
    cursor: pointer;
}

.modalLog.open {
    visibility: visible;
    opacity: 1;
}

/*-------------------------Модальное окно авторизации-------------------------------------*/
/*-------------------------Модальное окно регистрации-------------------------------------*/

.modalReg {
    position: absolute;
    top: 65px;
    left: 65%;
    background-color: #fff;
    height: 350px;
    width: 400px;
    border-radius: 50px;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
}

.modalReg .titleLog {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.modalReg input {
    background-color: #f4f4f4;
    border: none;
    width: 300px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.modalReg input:focus {
    outline: none;
}

.formmodalReg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnLog {
    background-color: #f4f4f4;
    border: none;
    margin-top: 20px;
}

.modalReg button {
    cursor: pointer;
}

.modalReg.open {
    visibility: visible;
    opacity: 1;
}

/*-------------------------Модальное окно регистрации-------------------------------------*/


/* ------------------------История modal ------------------------------------------------- */

/* ------------------------История modal ------------------------------------------------- */

.history{
    height: 250px;
    width: 220px;
    background-color: white;
    box-shadow: 10px 0px 10px rgba(0,0,0,1);
    border-radius: 10px;
    right: 22%;
    position: absolute;
    z-index: 100;
    display: none;
}
.history.active{
    display: block;
}
.h_preview{
    width: 80%; 
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.h_preview img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.h_row{
    border-bottom: 1px solid black;
    padding-block: 10px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: auto;
}
.h_row .repeat_btn img{
    height: 10px;
    width: 10px;
}
.h_table{
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}
#history_list{
    animation: hl_list 5s infinite;
}
@keyframes hl_list{
    0%{
        color: black;
    }
    50%{
        color: #af0404;
    }
    100%{
        color: black;
    }
}

/* ------------------------История modal ------------------------------------------------- */
