<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/hallStyle.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/modal.css" />

    <title>halls</title>
</head>

<body>
    <header id="auth0" class="header">
        <div class="container">
            <nav class="nav" style="align-items: center;">
                <div class="textNav">
                    <a class="textNavA" href="/">Гланая</a>
                </div>
                <div class="textNav">
                    <a class="textNavA" href="/equipment">О нас</a>
                </div>
                <div class="logoNav">
                    <a href="/"><img src="../uploads/logo.png" alt="" /></a>
                </div>
                <div class="textNav" id="noauth_user_auth">
                    <div>
                        <a class="textNavA btnNav" id="logOpen">Вход</a>
                    </div>
                </div>
                <div id="history_list" class="textNav">
                        <a class="textNavA btnNav hl_animation">USER</a>
                </div>
                    <div class="textNav" id="noauth_user_reg">
                        <a class="textNavA btnNav" id="regOpen">Регистрация</a>
                    </div>
                    <div class="textNav auth_user" id="auth_user">
                        <a class="textNavA btnNav" href="/logout" id="regOpen">Выход</a>
                    </div>
                    </div>
                    
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="history" id="history_modal">
            <div class="h_preview">
                <h4>История</h4>
                <img id="h_close" src="../uploads/close_btn.png" alt="close_btn">
            </div>
            <div id="h_table" class="h_table">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="formContainer">
            <form action="/order_conf" method="post" class="formOrder">
                <h1 class="orderTitle">Оформление заказа</h1>
                <input type="text" name="email" placeholder="Email" id="email"/ required><br />
                <div class="category">
                    <label class="categoryTitle" id="category_title">Выбор категории</label>
                    <span id="selected-category"></span>
                    <select name="category" id="category" required>
                        <option value="albom">Фото на альбом</option>
                        <option value="passport">Фото на паспорт</option>
                        <option value="marry">Свадебные фото</option>
                        <option value="crutoe">Художественные фото</option>
                        <option value="advert">Рекламные фото</option>
                        <option value="family">Семейные фото</option>
                    </select>
                </div>
                <br />
                <input class="date" type="datetime-local" name="datetime" placeholder="Укажите время"  required/>
                <button type="submit" class="btnFormOrder">
                    Отправить
                </button>
            </form>
        </div>
    </div>

    <script src="../scripts/main.js"></script>
    <script src="../scripts/user_data.js"></script>
    <script src="../scripts/auto_complete.js"></script>
</body>


<div class="modalLog" id="modalLog">
    <form action="/test_auth" class="formmodalLog" method="POST">
        <h1 class="titleLog">Вход</h1>
        <input type="email" name="email" placeholder="Введите email" />
        <input type="text" name="password" placeholder="Введите пароль" />
        <button type="submit" class="btnLog">Подтвердить</button>
        <button type="button" class="btnLog" id="logClose">
            Отмена
        </button>
    </form>
</div>
<div class="modalReg" id="modalReg">
    <form action="/signup" class="formmodalReg" method="POST">
        <h1 class="titleLog">Регистрация</h1>
        <input type="text" name="login" placeholder="Введите логин" />
        <input type="email" name="email" placeholder="Введите email" />
        <input type="text" name="password" placeholder="Введите пароль" />
        <input type="text" name="password_confirm" placeholder="Повторите пароль" />
        <button type="submit" class="btnLog">Подтвердить</button>
        <button href="" type="button" class="btnLog" id="regClose">Отмена</button>
    </form>
</div>

</html>
